/* background.css */
.background {
  height: 100vh;
  background: url('../pictures/background.jpg') no-repeat center center/cover;
  position: relative; /* Allows positioning of child elements */
}

.content {
  position: relative; /* Ensure content is positioned in the flow of the document */
  top: 100px; /* Adjust this value as needed to position content below header */
  padding: 2rem; /* Add padding as needed */
  box-sizing: border-box; /* Ensure padding does not affect width */
}
