body, html {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    height: 100%;
}

.explore-page {
    padding: 40px;
    max-width: 1200px;
    background-color: #c3ecea;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 100px auto;
    padding-bottom: 40px; 
    
}

.explore {
    padding-top: 150px;
    padding-left: 75px;  
    padding-right: 20px; 
    padding-bottom: 50px;
    background-image: url('../pictures/background4.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.explore h1 {
    font-size: 35px;
    margin-bottom: 100px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.explore-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    margin-left: -15px;
    column-gap: 100px;
}

.explore-item {
    position: relative; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 150px 200px rgba(5, 5, 5, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px; 
    height: 400px; 
    margin-bottom: 20px;
    border: 3px black inset;
}

.explore-item:hover {
    box-shadow: 0 0 8px 2px lightcoral;
}

.explore-item img {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: cover; 
    margin-left: -1%;
    margin-top: -1.5%;
}

.explore-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.explore-item p {
    margin-bottom: 5px;
    margin-top: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.explore-item a {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px; 
    border: 2px solid #007bff; 
    border-radius: 5px; 
    transition: box-shadow 0.3s ease; 
}

.explore-item a:hover {
    color: lightcoral;
    box-shadow: 0 0 10px 2px lightcoral; 
    border-color: lightcoral; 
}

.dropdown-content {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    z-index: 10;
    column-gap: 10px;
}

.dropdown-content a {
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: rgba(0, 123, 255, 0.1);
}
