body, html {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #333;
    box-sizing: border-box;
    height: 100%;
}

.form-page {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 20px;
    width: 100%;
    max-width: 1700px;
    margin: 20px auto;
    min-height: 100vh;
    background-color: #dad0d0;
    margin-top: 70px;
}

.form-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    margin-left: 40px;
}

.form-page h2 {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
    color: #0e0d0d;
    margin-left: 40px;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

form {
    width: 90%;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px dashed;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}

.form-group input,
.form-group select,
.form-group textarea {
    margin-top: 10px;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.form-image {
    flex: 1;
    background-image: url('../pictures/tutoring.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
