.interactive-maps {
    padding: 40px;
    text-align: center;
}

.interactive-maps h1 {
    margin-bottom: 20px;
}

.interactive-maps iframe {
    border: none;
    width: 100%; 
    height: 600px; 
    background-color: none; 
}
