/* src/components/Tabs.css */
.tabs {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #ffcccb; 
    border-radius: 15px;
    padding: 5px; 
}

.tab-buttons button {
    padding: 10px 20px;
    background-color: #ffebee; 
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
    margin: 0 5px; 
}

.tab-buttons button.active {
    background-color: #ff80ab; 
}

.tab-buttons button:hover {
    background-color: #ff80ab; /
}



.tab-content iframe {
    width: 150%; 
    height: 200%; 
    border: none; 
    margin-top: 0px;
}
